@import "src/shared/styles/base.scss";
@import "src/shared/styles/style.scss";

.container_pricesection {
	background-image: url(../../shared/images/price/background.png);
	padding-top: 235px;
	padding-bottom: 176px;
}
.content {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}
.title {
	@include font(36px, 500, 48px);
	color: $primary-text-color;
	padding-bottom: 16px;
}
.text {
	@include font;
	color: $secondary-text-color;
	padding-bottom: 35px;
}
.price {
	@include font(50px, 500, 66px);
	line-height: 1;
	color: #222f65;
}
.term {
	@include font;
	color: $logo-color;
	padding-bottom: 60px;
}
.phrase {
	@include font(14px, 400, 24px);
	color: #5d6970;
	padding-bottom: 13px;
}
