@mixin flex($main-axis: flex-start, $cross-axis: stretch) {
	display: flex;

	@if $main-axis != flex-start {
		justify-content: $main-axis;
	}
	@if $cross-axis != stretch {
		align-items: $cross-axis;
	}
}
@mixin font($fs: 16px, $fw: 400, $lh: 26px) {
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
}
